
/* Custom styles for buttons */

.link-aur {
    background-color: #1793d1;
}

.link-battlenet {
    background-color: #148eff;
}

.link-curseforge {
    background-color: rgb(241, 100, 54)
}

.link-ea {
    background-color: #d13a06;
}

.link-epic {
    background-color: #000000;
}

.link-gog {
    background-color: #721e78;
}

.link-kick {
    background-color: #53fc18
}

.link-modrinth {
    background-color: rgb(27, 217, 106);
}

.link-nexusmods {
    background-color: #d98f40;
}

.link-retroachievements {
    background-color: #cb9a00;
}

.link-roblox {
    background-color: #ffffff;
}

.link-socialblade {
    background-color: #c83a2c;
}

.link-socialclub {
    background-color: #ffac00;
}

.link-sourceforge {
    background-color: #f67f21;
}

.link-spotify {
    background-color: rgb(27, 217, 106);
}

.link-trovo {
    background-color: #32c27c;
}

.link-ubisoft {
    background-color: #000000;
}
